[submodule "explorer"]
	path = explorer
	url = https://github.com/emnh/boolwidth-explorer
[submodule "java/data"]
	path = java/data
	url = https://github.com/emnh/boolwidth-data
[submodule "java/lib"]
	path = java/lib
	url = https://github.com/emnh/boolwidth-lib
